h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size:60px;
}

h2 {
  font-weight: bolder;
  font-size: 42px;
}
h3 {
  font-weight: bold;
}

.box-button {
  text-align: center;
}


.box-button a{
  text-decoration: none;
}
.box-button a h4{
  padding: 30px 40px;
  text-decoration: none;
  color: black;
}

#attend_button {
  background-color: #99ff99;
}
#attend_button:hover {
  background-color: #bfffbf;
}
#details-title {
  margin-top: 10px;
  padding-bottom: 5px;
  background-color: #ff9999;
}

#invite_button{
  background-color: #aaaaff;
}

#invite_button:hover {
  background-color: #bfbfff;
}

#details-title {
  text-align: center;
}

form {
  margin: auto;
}
.width-controlled {
  max-width: 400px;
}
.width-controlled-wide {
  max-width: 550px;
}

/*styles for Bootstrap Modal*/
.modal {
  border-radius: 0px !important;
}

.modal-body {
    height: 102%;
    overflow-y: scroll !important;
}

.modal-header {
  color: white;
  background-color: #3B5998;
}

.clickableRow {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
.menu {
  padding: 40px 0px;
  font-size: 20px;
}
@media (max-width: 800px) {
.menu {
  padding: 5px 0px;
}
}
@media (min-width: 800px) {
td {
  padding: 15px 8px;
}
}
.menu span {
  vertical-align: center;
}

.container {
  background-color: #f0f0f0;
  padding-bottom: 500px;
  padding: 0px 20px;
}

hr {
  border-top: 1px solid #999;
}
table {
  background-color: #ffffff;
}
